---
layout: page
title: My Projects
permalink: projects
---

<ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
        <a class="nav-link active bg-info h5" data-toggle="tab" href="#allProjects">All</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-success h5" data-toggle="tab" href="#webDev">Web Development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-danger h5" data-toggle="tab" href="#iosDev">iOS Development</a>
    </li>
    <li class="nav-item">
        <a class="nav-link bg-warning h5" data-toggle="tab" href="#university">College Projects</a>
    </li>
    <li class="nav-item">
        <a class="nav-link h5" data-toggle="tab" href="#upcoming">Upcoming Projects</a>
    </li>
</ul>

<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="allProjects">
        <div class="list-group">
            {% for post in site.my-projects %}
            {% if post.categories contains "all" %}
            <a href="{{ post.url }}"
                class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{%- assign date_format = "%b %-d, %Y" -%}
                        {{ post.date | date: date_format }}</small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.excerpt }}</h5>
                    <small class="text-muted"><span class="badge badge-pill badge-info">{{ post.tags }}</span></small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="webDev">
        <div class="list-group">
            {% for post in site.my-projects %}
            {% if post.categories contains "webDev" %}
            <a href="{{ post.url }}"
                class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{%- assign date_format = "%b %-d, %Y" -%}
                        {{ post.date | date: date_format }}</small>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.excerpt }}</h5>
                    <small class="text-muted"><span class="badge badge-pill badge-info">{{ post.tags }}</span></small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="iosDev">
        <div class="list-group">
            {% for post in site.my-projects %}
            {% if post.categories contains "iOS" %}
            <a href="{{ post.url }}"
                class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{%- assign date_format = "%b %-d, %Y" -%}
                        {{ post.date | date: date_format }}</small>
                </div>
            </a>
            <br>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.excerpt }}</h5>
                    <small class="text-muted"><span class="badge badge-pill badge-info">{{ post.tags }}</span></small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="university">
        <div class="list-group">
            {% for post in site.my-projects %}
            {% if post.categories contains "college" %}
            <a href="{{ post.url }}"
                class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>{%- assign date_format = "%b %-d, %Y" -%}
                        {{ post.date | date: date_format }}</small>
                </div>
            </a>
            <br>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.excerpt }}</h5>
                    <small class="text-muted"><span class="badge badge-pill badge-info">{{ post.tags }}</span></small>
                </div>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="tab-pane fade" id="upcoming">
            <div class="list-group">
                {% for post in site.my-projects %}
                {% if post.categories contains "upcoming" %}
                <a href="{{ post.url }}"
                    class="list-group-item list-group-item-action flex-column align-items-start active">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.title }}</h5>
                        <small>{%- assign date_format = "%b %-d, %Y" -%}
                            {{ post.date | date: date_format }}</small>
                    </div>
                </a>
                <br>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ post.excerpt }}</h5>
                        <small class="text-muted"><span class="badge badge-pill badge-info">{{ post.tags }}</span></small>
                    </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
</div>