<div class="py-5 border-top">
    <div class="container">

        <!--p class="h5 mb-3">{{ site.title | escape }}</p-->

        <div class="row">

            <div class="col">
                <ul class="list-unstyled">
                    <li>
                        {%- if site.author -%}
                        {{ site.author | escape }}
                        {%- else -%}
                        {{ site.title | escape }}
                        {%- endif -%}
                    </li>
                    {%- if site.email -%}
                    <li>
                        <a href="mailto:{{ site.email }}">
                            {{ site.email }}
                        </a>
                    </li>
                    {%- endif -%}
                </ul>
            </div>


            <div class="col text-right">
                <ul class="list-unstyled">
                    <li>
                        <a href="https://prateek3576.github.io"><i class="fab fa-github fa-2x"></i></a>
                        <a href="https://www.linkedin.com/in/prateek3576"><i class="fab fa-linkedin fa-2x"></i></a>
                        <a href="https://twitter.com/prateek3576"><i class="fab fa-twitter fa-2x"></i></a>
                    </li>
                    <li>
                        <small>&copy; Copyright 2019</small></li>
                </ul>
            </div>

        </div>

    </div>
</div>