---
layout: default
---

<div class="content">
    <table> <!--Education-->
        <thead>
            <tr>
                <th>University of Pittsburgh</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <em>Swanson School of Engineering</em>
                </td>
                <td></td>
            </tr>
            <tr>
                <td>
                    Bachelor of Science in Computer Engineering</td>
                <td>April 2020</td>
            </tr>
        </tbody>
    </table>
    
    <table> <!--Skills and Proficiencies-->
        <thead>
            <tr>
                <th>Skills & Proficiencies:</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <abbr title="Hyper text markup language" class="notbold">HTML</abbr>
                </td>
                <td><abbr title="" class="notbold">CSS</abbr></td>
                <td><abbr title="" class="notbold">C/C++</abbr></td>
            </tr>
            <tr>
                <td>
                    Bachelor of Science in Computer Engineering</td>
                <td>April 2020</td>
            </tr>
        </tbody>
    </table>
    
    
</div>
